*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-size: cover;
    }
    body{
        background-image: url(../assets/bg.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        color: white;

    }
    nav ul{
        display:flex;
        gap: 60px;
        padding: 10px 10px;
        text-align: center;
        margin-right: 500px;
        padding: 20px;
        font-weight: 600;
        
    }
    nav ul li:hover{
        cursor: pointer;
        transform: scale(1.2);
        color: goldenrod;

    }
    .logo{
        margin-left: 30px;
        align-items: center;

    }
    button{
        padding: 10px;
        margin-right: 50px;
        background-color: rgb(190, 13, 190);
        color: white;
        font-weight: 600;
        border-radius: 10px;
        size: 40px;

    }
    button:hover{
        cursor: pointer;
        transform: scale(1.2);

    }
    .text{
        text-align: center;
        color: white;
        font-weight: bold;
        margin-top: 100px;
        font-size: 30px;
        line-height: 80px;

    }
    span{
        font-size: 20px;
    }
    